.closede_attention {
    margin-top: 1rem;
    padding: 1rem;
    color: #cb4a4a;
    background-color: hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
    font-size: 1.3rem;
    border: 5px dashed #ffce00;
    line-height: 1.7rem;
}
.closede_attention p {
    margin-top: 1rem;
}
.closede_right {
    margin-top: 1rem;
    text-align: right;
}
.closede {
    text-decoration-line: line-through;
}
.cent {
	text-align: center;
	margin: 0 auto;
	display: block;
}
.bottom_p {
    padding-bottom: 2rem;
}
/*スクロールバー全体*/
::-webkit-scrollbar {
    width: 10px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
}

/* ボタン共通 */

.Button a {
	margin-top: 20px;
	display: block;
	position: fixed;
	z-index: 9999;
	bottom: 3rem;
	right: 5rem;
	opacity: .8;
}
.Button a:hover {
	opacity: 1;
}


#pagetop a:before {
	display: block;
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	border-radius: 50%;
	border: 1px solid #6B441C;
	background: #ff8000;
}
#pagetop a:after {
	display: block;
	content: "";
	position: absolute;
	top: 25%;
	left: 11px;
	width: 0;
	height: 0;
	margin-top: -25px;
	border: 15px solid transparent;
	border-bottom: 15px solid #fff;
}

/*-----------------------------共通*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 1rem;
	border: none;
	color: #FFF;
	text-decoration: none;
}

html,
body {
	height: 100%;
	font-family: "Koburina Gothic W3 JIS2004";
}

.hidden {
	display: none;
}

.sumari {
	display: none;
}

header {
	height: 100%;
}

.bg {
	background: url(img/hone10.png), url(img/hone2.png), url(img/hone3.png),
	url(img/hone4.png), url(img/hone5.png), url(img/hone6.png),
	url(img/hone7.png), url(img/hone8.png), url(img/hone13.png),
	linear-gradient(to bottom, #6B441C 0%, #6B441C 15%, #965521 25%, #6B441C 35%, #331d06 45%, #6B441C 55%, #52260f 65%, #6B441C 75%, #6B441C 85%, #6c5b4a 95%, #6B441C 100%);
	background-position: 40% 7%, 90% 10%, 4% 17%,
	25% 24%, 80% 27%, 12% 35%,
	78% 43%, 10% 47%, 58% 75%,
	center;
	background-size: 130px, 130px, 130px,
	130px, 130px, 130px,
	130px, 130px, 130px,
	100%;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
	position: relative;
}

article {
	padding: 1.5rem;
	max-width: 1280px;
	margin: 0 auto;
}

section {
	position: relative;
	z-index: 500;
	width: 100%;
}

time {
	display: block;
}

.gray {
	color: #b2875d;
}

small {
	display: block;
}

dt {
	padding-top: 1rem;
	text-align: right;
}

dd {
	padding-bottom: 1.5rem;
	text-align: right;
}

.onebottom {
	margin-bottom: 1rem;
}
.bottom_pading {
	padding-bottom: 1rem;
}
strong {
	font-size: 2rem;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 2rem;
}
#page-top {
    position: fixed;
    bottom: 4%;
    right: 2%;
    font-size: 77%;
    z-index: 999;
	background-position: center;
}
#page-top a {
	background-color: rgba(255, 128, 0, 0.8);
    text-decoration: none;
    color: #FFFFFF;
    width: 3rem;
	padding: .5rem 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: rgba(255, 149, 44, 0.8);
}
/*-----------------------------文字*/

h1,
h2 {
	position: relative;
	font-size: 2rem;
	padding: 2rem 2rem 2rem 0;
}

h2::before {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #FFF;
	bottom: 1.5rem;
	width: 10%;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	color: #ffffff;
}

.blue {
	color: #96BFF6;
}

.red {
	color: #F69696;
}

.white {
	color: #FFFFFF;
}

.center {
	text-align: center;
}
.big {
	font-size: 1.5rem;
}
.content p {
	line-height: 1.7rem;
}

/*-----------------------------ファーストビュー*/

.top {
	display: block;
	height: 100%;
	
	position: relative;
}

.title {
	display: block;
	margin: 0 auto;
	padding-top: 5rem;
	width: 80%;
}

.title2 {
	height: 50%;
	padding-top: 1rem;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 500;
}
.mogura1 {
	width: 5%;
	position: absolute;
	bottom: 5%;
	left: 1rem;
}
.mogura2 {
	width: 5%;
	position: absolute;
	top: 0;
	right: 2rem;
}

.sky {
	height: 73%;
	background: url(img/star_wheel.png),url(img/star_tec.png), url(img/star_game.png), url(img/star_html5.png),
	url(img/star_pc.png), url(img/star_airplane.png),
	linear-gradient(to bottom, #009FE3 0%, #51BEE8 50%, #B6E4F7 100%);
	background-position: 130% 90%, 60% 100%, 5% 5%, 20% 10%, 40% 40%, 63% 4%, center;
	background-size: 50%, 20%, 7%, 10%, 10%, 6%, 100%;
	background-repeat: no-repeat;
}

.ground {
	height: 27%;
	background: linear-gradient(to bottom, #5CB747 0%, #5CB747 65%, #6B441C 80%, #6B441C 90%);
}

.human_warp {
	position: absolute;
	bottom: 22%;
	height: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: flex-end;
}

.human img {
	width: 100%;
	position: relative;
}

.human {
	transition: all .5s;
}

.human:hover {
	padding-bottom: 2rem;
	transition: all .5s;
}

/*-----------------------------セクション*/

.rotat {
	animation: rotation 90s linear infinite;
	margin: 3rem auto;
	display: block;
	width: 90%;
	max-width: 600px;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button_a {
	width: 45%;
	border-radius: 5px;
	padding: 5px 0;
	background-color: #4BB657;
	margin: 0 auto;
	z-index: 999;
}
.none {
	width: 45%;
	border-radius: 5px;
	padding: 5px 0;
	background-color: transparent;
	margin: 0 auto;
	z-index: 999;
    pointer-events: none;
}
.none:hover {
    background-color: transparent;
    pointer-events: none;
}
.orange {
	background-color: #ff8000;
}

.button_a:hover {
	background-color: #56d965;
}
.orange:hover {
	background-color: #ffa700;
}

.button_a a {
	display: block;
	text-align: center;
	color: #FFF;
	font-size: .7rem;
	cursor: pointer;
}
.last_button {
    margin-top: -20px;
}

#google_map {
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 55%;
	overflow: hidden;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.timeTable {
    padding-top: 2rem;
    margin-bottom: 1rem;
	width: 100%;
}

/*-------------------------------------------ご挨拶*/

.content {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.left {
	width: 50%;
	padding-right: 1rem;
	padding-top: 1rem;
}

.right {
	width: 50%;
	padding-left: 1rem;
	padding-top: 1rem;
}

.left h3 {
	text-align: left;
	padding-bottom: 1rem;
}

.right h3 {
	text-align: left;
	padding-bottom: 1rem;
}

.speech {
	display: inline;
	line-height: 2rem;
}

summary {
	margin-top: 1rem;
	padding: .5rem;
	padding-left: 1rem;
}

/*-----------------------------制作物*/

.ih-item {
	position: relative;
	transition: all 0.35s ease-in-out;
}

.ih-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}



/*画像のサイズとかいじるのココ*/

.ih-item.circle {
	position: relative;
	width: 31%;
	height: 200px;
	margin-bottom: 2rem;
}

.ih-item.circle .img {
	position: relative;
	width: 100%;
	height: 200px;
	z-index: 0;
	object-position: center;
}


.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	overflow: hidden;
}

.ih-item.circle.effect13 .info {
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all 0.2s ease-in-out;
}


/*文字の高さ調節*/

.ih-item.circle.effect13 .info h3 {
	color: #fff;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding-top: 20px;
	height: 70px;
	text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-in-out;
}

.ih-item.circle.effect13 .info p {
	color: #fff;
	padding: 5px;
	margin: 0 10px;
	font-size: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 0.2s ease-in-out;
}

.ih-item.circle.effect13 .content:hover .info {
	opacity: 1;
}

.ih-item.circle.effect13 .content:hover h3 {
	opacity: 1;
}

.ih-item.circle.effect13 .content:hover p {
	opacity: 1;
}


.ih-item.circle.effect13.top_to_bottom .info h3 {
	transform: translateY(-100%);
}

.ih-item.circle.effect13.top_to_bottom .info p {
	transform: translateY(-100%);
}

.ih-item.circle.effect13.top_to_bottom .content:hover h3 {
	transform: translateY(0);
}

.ih-item.circle.effect13.top_to_bottom .content:hover p {
	transform: translateY(0);
}

.button_content {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
    position: relative;
    top: 15px;
}
.button_tow {
    margin-top: 5px;
}



/*-------------------------------------------フッター*/

footer {
	position: relative;
}

footer p {
	font-size: 1.5rem;
	text-align: center;
	padding: 1rem;
}

.ground_bottom {
	height: 10px;
	height: 3vh;
	width: 100%;
	background: linear-gradient(to top, #5CB747 0%, #5CB747 65%, #6B441C 80%, #6B441C 90%);
}

.sky_bottom {
	width: 100%;
	background: url(img/star_bottom11.png), url(img/star_bottom22.png),
	url(img/star_bottom3.png), url(img/star_bottom4.png),
	url(img/star_bottom3.png), url(img/star_bottom4.png),
	linear-gradient(to top, #100931 0%, #160c48 30%, #291681 90%);
	background-size: 10%, 10%, 1%, 1%, 1%, 1%, 100%;
	background-position: 10% 90%, 90% 90%, 5% 60%, 30% 85%, 65% 95%, 80% 88%, center;
	background-repeat: no-repeat;
}

.container_bottom {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.flex_iteam_fot {
	width: 50%;
	max-width: 300px;
	padding: 0 1rem;
}

.button_bottom {
	background-color: #ff8000;
	border-radius: 5px;
	margin-top: 2rem;
}

.button_bottom:hover {
	background-color: #ffa700;
}

.button_bottom a {
	display: block;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF;
}

footer small {
	display: block;
	margin: auto;
	font-size: .8em;
	width: 12rem;
	padding: 1rem .3rem;
	color: #FFF;
	text-align: center;
}

/*-----------------------------タブレット*/

@media screen and ( max-width: 1001px) {

	.rotat {
		bottom: -255px;
		right: -255px;
	}
	.title {
		position: static;
		margin: 0 auto;
		display: block;
	}
	.ih-item.circle {
		width: 48%;
		max-width: 50%;
	}
	.ih-item.circle.effect13 .content .info {
		opacity: 1;
	}
	.ih-item.circle.effect13 .content h3 {
		opacity: 1;
	}
	.ih-item.circle.effect13 .content p {
		opacity: 1;
	}
	.ih-item.circle.effect13.top_to_bottom .info h3 {
		transform: translateY(0);
	}
	.ih-item.circle.effect13.top_to_bottom .info p {
		transform: translateY(0);
	}

	.sumari {
		display: block;
	}

}

/*-----------------------------スマホ*/

@media screen and ( max-width: 479px) {

	.sky {
		background: url(img/star_wheel.png),url(img/star_tec.png), url(img/star_game.png), url(img/star_html5.png),
		url(img/star_pc.png), url(img/star_airplane.png),
		linear-gradient(to bottom, #009FE3 0%, #51BEE8 50%, #B6E4F7 100%);
		background-position: 130% 105%, 60% 100%, 5% 5%, 30% 10%, 0% 50%, 63% 4%, center;
		background-size: 50%, 20%, 10%, 10%, 10%, 6%, 100%;
		background-repeat: no-repeat;
	}
	header {
		height: 40%;
		padding: 0;
	}
	.rotat {
		bottom: -400px;
		right: -375px;
	}
	.title {
		position: static;
		margin: 0 auto;
		display: block;
		padding-top: 3rem;
	}
	.ih-item.circle {
		width: 100%;
		max-width: 100%;
		margin-bottom: 1rem;
	}
	.flex_iteam_fot {
		width: 100%;
		max-width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
		height: 100%;
	}
	article {
		padding: 1rem;
	}
	.title2 {
		height: auto;
		width: 80%;
		padding-top: .5rem;
	}
	.left {
		width: 100%;
		padding: 0;
		padding-top: 1rem;
	}
	.right {
		width: 100%;
		padding-left: 0;
		padding-top: 1rem;
	}
	h2::before {
		width: 20%;
	}
	h1,
	h2 {
		position: relative;
		font-size: 1.5rem;
		padding: 2rem 2rem 2rem 0;
	}
	.hidden {
		display: block;
		background-color: #f4a100;
		border-radius: 10px;
	}
	footer {
		padding: 0;
	}
	.sky_bottom {
		height: 90%;
	}
	strong {
		font-size: 1.3rem;
		padding: 2rem 0 0 0;
	}
	.container_bottom {
		flex-wrap: wrap;
		width: 100%;
	}
	footer p {
		padding: 0;
	}
	.bg {
		background-size: 100px, 100px, 100px,
		100px, 100px, 100px,
		100px, 100px, 100px,
		100%;
	}
	.button_bottom {
		margin-top: 1rem;
	}
	footer small {
		position: relative;
		bottom: .5rem;
	}
	.mogura1 {
		width: 20%;
		left: 0;
	}
	.mogura2 {
		width: 20%;
		top: 0;
		right: 1rem;
	}
    .timeTable {
        max-width: 95%;
        margin: 0 auto 2rem auto;
        display: block;
    }
}
